<router-outlet></router-outlet>

<!-- <h2>Examples</h2>

<a class="btn" routerLink="/examples/new">Add Example</a>

<div class="container">
  <h3>Get Examples</h3>
  <input (click)="getExamples()" type="submit" value="Get"/>
</div>

<div class="container">
  <h3>Create Example</h3>
  <input [(ngModel)]="example.text" type="text" placeholder="text"/>
  <input (click)="createExample()" type="submit" value="Create"/>
</div> -->

<!-- Create Example Form -->
<!-- <div>
  <form (ngSubmit)="createExample(newExample)" class="example-form"> -->
    <!-- <mat-form-field class="example-full-width"> -->
      <!-- <textarea [(ngModel)]="newExample.text" matInput placeholder="Text" value=""></textarea> -->
    <!-- </mat-form-field> -->
  <!-- </form>
</div> -->
